<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template • Earthquake</title>
  </head>
  <body>
    <script type="text/template" id="button-template">
      <%  let button = type;
          if (type == "bool") button = "false";
	  let value = undefined;
	  switch (type) {
	  case "bool": value = "false"; break;
	  case "unit": value = "()"; break;
	  case "text": value = ""; break;
	  case "double": value = "NaN"; break;
          }
       %>
       <% if (type == "text") { %>
	  <input type="text"
		 class="text-button"
		 value="<%=value%>"
		 earthquake-id="<%=id%>"
	      <%= type=="double"?"disabled":""%>></input>
       <% } else { %>
	  <input type="button"
		 class="<%=button%>-button"
		 value="<%=value%>"
		 earthquake-id="<%=id%>"
	      <%= type=="double"?"disabled":""%>></input>
       <% } %>
       <% if (type == "bool") { %>
	  <input type="button"
		 class="true-button"
		 value="true"
		 earthquake-id="<%=id%>"></input>
       <% } %>
    </script>
    <script type="text/template" id="recv-template">
      <% _.each(meta, (i, ix) => { 
        let button = i;
        if (i == "bool") button = "false";
       %>      
      <tr>
	<td>
	  <input type="button"
		 class="<%=button%>-button"
		 value="<%=button%> #<%=ix%>" 
	      <%= i=="double"?"disabled":""%>></input>
	</td>
	<td>
	  <code>
	    <% switch (i) { 
	       case "unit": %>jsb.event({id:<%=ix%>,value:[],tick:<span class="theTick">undefined</span>})
	    <% break;
	       case "text": %>jsb.event({id:<%=ix%>,value:<span class="theText">""</span>,tick:<span class="theTick">undefined</span>})
	    <% break;
	       case "bool": %>jsb.event({id:<%=ix%>,value:false,tick:<span class="theTick">undefined</span>})
	       <input type="button" 		 
		      class="true-button" 
		      value="true #<%=ix%>"></input>
	       jsb.event({id:<%=ix%>,value:true,tick:<span class="theTick">undefined</span>})
	    <% break;
	       case "double": %>jsb.event({id:<%=ix%>,value:<span class="theDouble">NaN</span>,tick:<span class="theTick">undefined</span>})
	    <% break; %>
	    <% } %>
	  </code>
	</td>
      </tr>
      <% }) %>
    </script>

    <code><pre id="json"></pre></code>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script>
      window.jsb = {ws: new WebSocket('ws://' + location.host + '/')};
      jsb.ws.onmessage = (evt) => eval(evt.data);
      jsb.debug = true;
      jsb.tick = 0;
      jsb.render = (t,o,m) => {
        console.log(t,o,m);
	m.forEach((i) => {
           let j = o; let prev_j = null; let prev_p = null;
           i.path.forEach((p) => {
             console.log("loop",p,j,j[p])
             prev_j = j;
             prev_p = p;
             j = j[p];
           })
           prev_j["#" + prev_p] = {id:j,type:i.type};
           delete prev_j[prev_p];
           console.log("done",i,j,prev_p,prev_j);
        })				  
        let modifier = (k,v) => {
           if (k.charAt(0) == '#') {
             return v.type + "#" + v.id;
           } else {
             return v;
           }
        };
        let re = /(\n|{)(\s*)"\#([^"]*)": "(\S+)#(\d+)"(,?)/g;
        let json = JSON.stringify({tick:t,view:o,meta:m},modifier,2)
	    .replace(/^(\s*){\s*"/gm,"$1{ \"")
            .replace(re,(match,p0,p1,p2,p3,p4,p5) => {
     	       let button = _.template
                  (document.querySelector('#button-template').innerHTML)
                  ({id:p4,type:p3});
               return p0 + p1 + 
                      "\"" + p2 + "\": " + p4 + p5 + " " + button.trim()
					     .replace(/>\s+</g,"><");
            })
            .replace(/"path"\: \[([^\[\]\{\}]*)\],\s+\"type": "([^\"]*)"\s+}/g,
		(match,p1,p2) => 
		     "\"type\": \"" + p2 + "\", " + 
                     "\"path\": [" + p1.trim().replace(/,\s*"/g,",\"") + 
                     "] }")
	document.querySelector('#json').innerHTML = json;
      }
      // Add an event listener that runs down the
      // target's path, to find the first selector match.
      jsb.on = (eventName,selector,callback) => {
	  document
	    .querySelector('body')
	    .addEventListener(eventName,(e) => {
		let el = e.target.closest(selector);
		// We bind this to the element, aka jquery.
		el && callback.call(el,e,el);
	    }, false)
      }
      jsb.on("click",".unit-button",(e,el) => {
        jsb.event(
          {id:parseInt(el.getAttribute('earthquake-id')),
           value:[],
   	   tick:jsb.tick});
      })
      jsb.on("click",".true-button",(e,el) => {
        jsb.event(
          {id:parseInt(el.getAttribute('earthquake-id')),
           value:true,
   	   tick:jsb.tick});
      })
      jsb.on("click",".false-button",(e,el) => {
        jsb.event(
          {id:parseInt(el.getAttribute('earthquake-id')),
           value:false,
   	   tick:jsb.tick});
      })
      jsb.on("keypress",".text-button",(e,el) => {
				      console.log(e);
           if (e.keyCode == 13) {
             jsb.event(
               {id:parseInt(el.getAttribute('earthquake-id')),
                value:el.value,
		tick:jsb.tick});
           }
      })
      // TODO: numbers
    </script>
  </body>
</html>
